
  table {
    margin: 16px auto;
    border-collapse: collapse;
    display: block;
    height: 400px;
    overflow-y: scroll;
    float: right;
    width: auto;
  }
  
  thead th {
    font-weight: bold;
    background: #8a97a0;
    color: #FFF;
    text-align: center;
  }
  
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid rgb(220, 198, 198);
    margin-bottom: 1px;
    border: solid;
    border-width: 1px 0;
  }
  
  tr:nth-child(even) {
    background: #e8eeef;
  }
  
  th, td {
    text-align: left;
    padding: 20px;
    font-weight: 300;
  }
  
  tfoot tr {
    background: none;
  }
  
  tfoot td {
    padding: 10px 2px;
    font-size: 0.8em;
    font-style: italic;
    color: #8a97a0;
  }

  .delete {
    font-size: 2px;
  }
  